body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background/10background.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	font-family: tahoma;
	overflow: hidden;
}

.gallery{
	margin: 80px 150px;
}

.gallery img{
	width: 230px;
	padding: 30px;
	filter: grayscale(80%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
